jupyter-citi
*/runme
*/gitkey
*/Openshift.conf
testexample/mydb
**/dist
**/tmp
**/out-tsc
**/doc/
**/HELP.md
**/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**
**/node_modules
**/.idea
**/.project
**/.classpath
**/.c9/
**/*.launch
**/.settings/
**/*.sublime-workspace
**/.sass-cache
**/connect.lock
**/coverage
**/libpeerconnection.log
**/npm-debug.log
**/yarn-error.log
**/testem.log
**/typings
**/.DS_Store
**/Thumbs.db
**/.apt_generated
**/.factorypath
**/.springBeans
**/.sts4-cache
**/*.iws
**/*.iml
**/*.ipr
**/nbproject/private/
**/nbbuild/
**/nbdist/
**/.nb-gradle/
**/build/
ibmucd/**/*.zip
itrs/files/new
itrs/files/ITRS
**/*.mmdb
**/*.rpm
