[submodule "dockerdb"]
	path = dockerdb
	url = https://github.com/stevshil/dockerDB.git
[submodule "dockerDB"]
	path = dockerDB
	url = https://github.com/stevshil/dockerDB.git
[submodule "monitoring/containers/petclinic-docker-build"]
	path = monitoring/containers/petclinic-docker-build
	url = https://github.com/stevshil/petclinic-docker-build.git
