[submodule "dockerdb"]
	path = dockerdb
	url = https://github.com/stevshil/dockerDB.git
[submodule "dockerDB"]
	path = dockerDB
	url = https://github.com/stevshil/dockerDB.git
[submodule "monitoring-lab"]
	path = monitoring-lab
	url = https://github.com/stevshil/monitoring-lab.git
